.container {
  height: 100vh;
  width: 100vw;
  background: url('../../../public/image/bg-for-auth.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.auth-container {
  display: flex;
  justify-content: center;
  
}

.auth-block {
  box-shadow: 0 0 10px 5px rgb(53, 53, 53);
  max-width: 500px;
  width: 30vw;
  height: 80vh;
  background-color: #5d554a;
  border-radius: 77px;
}

.auth-block__padding {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.auth-block__title {
  padding-bottom: 2vh;
  font-size: 3.2em;
  text-align: center;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
}

.auth-block__input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}

.auth-block__input p {
  padding-bottom: 2px;
  font-size: 2vh;
  color: #eeeeee;
}

.auth-block__input__tooltip{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.auth-block__input__tooltip p{
  margin-right: 5px;
}

.auth-block__input input {
  background: #d9d9d9;
  width: 100%;
  height: 7vh;
  padding: 16px;
  font-size: 2vh;
  border-radius: 20px;
  border: none;
  outline-color: #868366;
}

.auth-block__forget {
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
  padding-bottom: 3vh;
  font-size: 2vh;
  color: #eeeeee;
}

.auth-block__button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.auth-block__button button {
  font-size: 2.5em;
  padding: 20px 60px;
  border-radius: 20px;
  border: none;
  background-color: #edcaa4;
  color: #424242;
  cursor: pointer;
}

.auth-block__signup {
  text-decoration: underline;
  width: 5vw;
  cursor: pointer;
  text-align: center;
  padding: 2vh 0;
  font-size: 2vh;
  color: #ffffff;
}

.auth-block__signup:hover {
  color: #d9d9d9;
}

.auth-block__button__bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-dirty p{
  color: #be2222
}

.input-dirty input{
  border: 1px solid #be2222;
}