.modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2;
  /* transform: scale(0); */
}

/* .modal.active, .modal__content {
  transform: scale(1);
  transition: 1s; 
  opacity: 1;
  pointer-events: all;
} */

.modal.active{
  opacity: 1;
  transition: 0.5s;
  pointer-events: all;
}

.modal.disable{
  display: none;
} 

.modal__content{
  width: 45vw;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  box-shadow: 0 0 20px rgba(0,0,0,0.85);
}

.modal__content__flex img{
  width: 13vh;
  height: 13vh;
}

.modal__title{
  font-size: 4vh;
  font-weight: bold;
}

.modal__text{
  color: #737373;
  padding-bottom: 5vh;
}

.modal__buttons button{
  font-size: 4vh;
  padding: 2vh 6vh;
  background-color: #A7A381;
  color: #555647;
  border-radius: 20px;
  border: none;
  width: 13vw;
}

.modal__buttons button:hover{
  background-color: #968e64;
  cursor: pointer;
}

.modal__content__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}